<%- include("../includes/header.ejs", {title:"Libraries - " + result[0].library_name}); %>
    <h1>Libraries</h1>
    <ul style="list-style-type: none">
        <li><b>Library Name:</b> <%= result[0].library_name %></li>
    </ul>
<!--TODO: make this work. Ask Selwyn why it won't go to the next page and how to call Object View All-->
    <table border="2">
        <tr><th><b>Objects: </b></th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><a href="/object/?object_id=<%= result[i].object_id %>"><%= result[i].object_name %></a></td>
            <% } %>
        </tr>
        <!--TODO: add the action: edit and delete buttons.-->
    </table>


<a href="/library/all"><< back</a>

<%- include("../includes/footer.ejs"); %>