<%- include("../includes/header.ejs", {title:"Library - View All"}); %>

<h1>Libraries</h1>
        <a href="/library/add">Add New Library</a> <br />

        <br />

        <table border="2">
            <tr><th>Library Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/library/?library_id=<%= result[i].library_id %>"><%= result[i].library_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/library/edit/?library_id=<%= result[i].library_id %>'">Edit</button>
                    <form action="/library/delete/" style="display:inline;">
                        <input type="hidden" name="library_id" id="library_id" value="<%= result[i].library_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>