<%- include("../includes/header.ejs", {title: "Update " + library.library_name}); %>

<h1>Update <%= library.library_name%></h1>
<form action="/library/update" method="get">
    <input type="hidden" id="library_id" name="library_id" value="<%= library.library_id %>">
    Library Name: <input id="library_name" name="library_name" type="text" value="<%= library.library_name%>"/>
    <br />
    <br />


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>