<%- include("../includes/header.ejs", {title:"Add New Library"}); %>
    <h1>Add New Library</h1>
    <form action="/library/insert" method="get">
        Library Name: <input id="library_name" name="library_name" type="text" />
        <br />
        <br />
        <input type="submit" />
    </form>
<%- include("../includes/footer.ejs"); %>