<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Click below to see a list of your libraries: </p>

    <a href="/resume/all">Resumes- View All</a>

    <br />

<%- include("./includes/footer.ejs"); %>
