<%- include("../includes/header.ejs", {title: "Update " + object.object_name}); %>

<h1>Update <%= object.object_name%></h1>
<form action="/object/update" method="get">
    <input type="hidden" id="object_id" name="object_id" value="<%= object.object_id %>">
    Object Name: <input id="object_name" name="object_name" type="text" value="<%= object.object_name%>"/>
    <br />
    <br />
    Quantity: <input id="quantity" name="quantity" type="text" value="<%= object.quantity%>" />
    <br />
    <br />

    Unit Of Measure: <input id="unit_of_measure" name="unit_of_measure" type="text" value="<%= object.unit_of_measure%>" />
    <br />
    <br />
    <!--TODO: Make this a drop down.-->

    Color: <input id="color" name="color" type="text" value="<%= object.color%>" />
    <br />
    <br />

    Composition: <input id="composition" name="composition" type="text" value="<%= object.composition%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>