<%- include("../includes/header.ejs", {title:"Objects - View All"}); %>

<h1>Objects</h1>
        <a href="/object/add">Add New Object</a> <br />

        <br />
        <table border="2">
            <tr><th>Object Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/object/?object_id=<%= result[i].object_id %>"><%= result[i].object_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/object/edit/?object_id=<%= result[i].object_id %>'">Edit</button>
                    <form action="/object/delete/" style="display:inline;">
                        <input type="hidden" name="object_id" id="object_id" value="<%= result[i].object_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>