<%- include("../includes/header.ejs", {title:"Add New Object"}); %>
    <h1>Add New Object</h1>
    <form action="/object/insert" method="get">
        Object Name: <input id="object_name" name="object_name" type="text" />
        <br />
        <br />

        Quantity: <input id="quantity" name="quantity" type="text" />
        <br />
        <br />

        Unit Of Measure: <input id="unit_of_measure" name="unit_of_measure" type="text" />
        <br />
        <br />
        <!--TODO: Make this a drop down.-->

        Color: <input id="color" name="color" type="text" />
        <br />
        <br />

         Composition: <input id="composition" name="composition" type="text" />
        <br />
        <br />
        <input type="submit" />
    </form>
<%- include("../includes/footer.ejs"); %>